# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Production
dist/
build/

# Misc
.DS_Store
*.pem
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Caches
.eslintcache
.stylelintcache
.vite

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Project specific
pixiv_data
package-lock.json
scripts/
